[Unit]
Description=ActionCamStreamer Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/actioncamstreamer/start_actioncamstreamer.sh

[Install]
WantedBy=multi-user.target
