[Unit]
Description=ActionCamStreamer Service
After=multi-user.target # ensures that this unit is started after multi-user.target, otherwise they would start simultaneously.

[Service]
Type=idle
ExecStart=/.actioncamstreamer/start_actioncamstreamer.sh

# used by the enable/disable to link and unlink with dependencies
[Install]
WantedBy=multi-user.target
